.root {
  padding: 10px 10px 20px 10px;
  background-color: #2a2a2a;
}
.title {
  margin: 0;
  line-height: 1.5;
  font-size: 21px;
  text-align: center;
  position: relative;
  font-weight: 500;
  // [theme.breakpoints.up('lg')]: {
  //   textAlign: 'start'
  // }
}

.divider {
  background-color: #d8bbbb80;
  margin-bottom: 10px;
  height: 2px;
}

.generalwrapper {
  padding: 8px 10px;
}
