.success {
  background-color: #2bab2b;
}

.error {
  background-color: #f44336;
}

.icon {
  font-size: 20px;
  margin-right: 10px;
}

.closeIcon {
  font-size: 15px;
}
.message {
  display: flex;
  align-items: center;
}
